.col-sm-2{
	padding-right: 20px;
}

.form-group {
	margin-bottom: 10px;
}

body {
	overflow: scroll
}

.pad5 {
	padding-top: 5px;
}

.input_number_1 {
	width: 40px;
	margin-left: 110px;
}

.input_number_2 {
	width: 40px;
	margin-left: 12px;
}

.input_short {
	width: 50px;
}

.nomargin {
	margin: 0px;
}

.monospace {
	font-family: "Courier New", monospace;
}