.col-sm-2{
	padding-right: 20px;
	width: 180px !important;
}

.form-group {
	margin-bottom: 10px;
}

body {
	overflow: scroll
}

.pad5 {
	padding-top: 5px;
}

.input_number_1 {
	width: 40px;
	margin-left: 110px;
}

.input_number_2 {
	width: 40px;
	margin-left: 12px;
}

.input_short {
	width: 50px;
}

.nomargin {
	margin: 0px;
	padding: 0px;
}

.monospace {
	font-family: "Courier New", monospace;
}

.select_hidden {
	display: none;
}

.table_spread {
	margin: 10px auto;
	width: 95%;
}

.btn_spread {
	position: absolute;
	right: 450px;
	top: 120px;
	font-size: 18px;
}

.btn_report {
	position: absolute;
	right: 200px;
	top: 120px;
	font-size: 18px;
}

.icon-split {
	background-image: url("/static/split.png");
	background-position: 0px 0px;
	background-size: 15px 15px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	margin-left: 5px;
	line-height: 14px;
	vertical-align: text-top;
}

.sortable {
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 60%; 
}

.btn_sort {
	width: 250px;
	height: 25px;
	display: block;
	margin: 0 5px 5px 5px; 
	padding: 5px; 
}

.placeholder {
	width: 250px;
	height: 27px;
	display: block;
	margin: 0 5px 5px 5px; 
	padding: 5px; 
	background-color: #888;
}

.pointer {
	cursor: pointer;
}