{% extends "base.html" %}

{% block main %}

<p>Степень преподавателя</p>
<table class="table table-hover">
    <tr>
        <th>№</th>
        <th>Степень</th>
    </tr>
    {% for degree in degrees %}
    <tr> 
        <td>{{forloop.counter}}</td>
        <td>{{degree.name}}</td>
    </tr>
    {% endfor %}
</table>
<form action="/degree" method="post">
    <fieldset>
        <label>Добавить новую степень
        <input type="text" placeholder="..."  name="degree"></label>
        <button type="submit" class="btn">Submit</button>
    </fieldset>
</form>

{% endblock %}