{% extends "base.html" %}

{% block main %}

<p>{{ title }}</p>
<table class="table table-hover">
    <tr>
        <th>№</th>
        <th>{{ title }}</th>
        <th></th>
    </tr>
    {% for item in items %}
    <tr> 
        <td>{{forloop.counter}}</td>
        <td>{{item.name}}</td>
        <td>
            <a href="/{{url}}?remove={{item.id}}"><i class="icon-remove"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>
<form action="/{{ url }}" method="post">
    <fieldset>
        <label>Добавить {{ add }}
        <input type="text" placeholder="..."  name="attr"></label>
        <button type="submit" class="btn">Добавить</button>
    </fieldset>
</form>

{% endblock %}
