{% extends "base.html" %}

{% block main %}

<h4>Группы</h4>

<table class="table table-hover">
    <tr>
        <th>Идентификатор</th>
        <th>Кафедра</th>
        <th>Семестр</th>
        <th>Номер</th>
        <th>Количество <br> студентов</th>
        <th></th>
    </tr>
    {% for group in groups %}
    <tr> 
        <td class="monospace"><b>{{group.caf.name}}-{{group.sem}}{{group.number}}{% if group.grade == "b"%}Б{% elif group.grade == "m"%}М{% endif %}</b>
        </td>
        <td>{{group.caf.name}}</td>
        <td>{{group.sem}}</td>
        <td>{{group.number}}</td>
        <td>{{group.amount}}</td>
        <td>
            <a href="/group?remove={{group.id}}"><i class="icon-trash"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>

<!-- Button for FORM CREATE -->
<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Добавить группы</a>
<!-- FORM CREATE -->
<div id="myModal" class="modal hide fade" tabindex="-1" 
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Добавление групп</h3>
    </div>

    <form class="form-horizontal nomargin" action="/group" method="post">
        <div class="modal-body">

            <div class="form-group">
                <label for="middleName" class="col-sm-2 control-label">Кафедра</label>
                <select class="span2" name="caf" required>
                    <option value="" selected>Выбрать</option>
                    {% for caf in cafs %}
                        <option value="{{ caf.name }}">{{ caf.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="sem" class="col-sm-2 control-label">Семестр</label>
                <input type="number" class="form-control input_short" id="sem" name="sem" min=1 max=12 required>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label" style="height: 70px;">Тип обучения</label>
                <div class="radio" style="margin-left:180px;">
                    <label><input type="radio" name="grade" value="b" checked>бакалавры</label>
                    <label><input type="radio" name="grade" value="m">магистры</label>
                    <label><input type="radio" name="grade" value="s">специалисты</label>
                </div>
            </div>

            <div class="form-group">
                <label for="number" class="col-sm-2 control-label">Количество групп</label>
                <input type="number" class="form-control input_short" min="1" max="5" id="number" name="number" required value=0>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label muted">Номер группы</label>
                <label class="col-sm-2 pad5 form-control muted">Количество студентов</label>
            </div>

            <div class="groups">
            </div>

        </div>

        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
            <button type="submit" class="btn btn-primary">Добавить группы</button>
        </div>

    </form>
</div>

<script>
    $("input[name=number]").change(function() { 
        $(".groups").empty();
        count = $(".input_number_2").size();
        console.info($(".input_number_2").size());
        for (i=0; i < $(this).val(); i++) {
            var $div = $("<div class='form-group'/>");
            var $in1 = $("<input type='number' for='number' tabindex="+i+20+" class='input_number_1' name='grNumber"+i+"' value="+(i+1)+" required/>");
            var $in2 = $("<input type='number' class='form-control input_number input_number_2' id='number' name='grAmount"+i+"' required/>");
            $div.append($in1);
            $div.append($in2);
            $(".groups").append($div);
        }
    })
</script>

{% endblock %}