{% extends "base.html" %}

{% block main %}

<h4>Группы</h4>

<table class="table table-hover">
    <tr>
        <th>№</th>
        <th>Кафедра</th>
        <th>Семестр</th>
        <th>Номер</th>
        <th></th>
    </tr>
    {% for group in groups %}
    <tr> 
        <td>{{forloop.counter}}</td>
        <td>{{group.caf.name}}</td>
        <td>{{group.sem}}</td>
        <td>{{group.number}}</td>
        <td>
            <a href="/group?remove={{group.id}}"><i class="icon-remove"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>
<form class="form-horizontal" action="/group" method="post">
    <div class="form-group">
        <label for="middleName" class="col-sm-2 control-label">Кафедра</label>
        <select class="span2" name="caf">
            <option value="" selected>Выбрать</option>
            {% for caf in cafs %}
                <option value="{{ caf.name }}">{{ caf.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="sem" class="col-sm-2 control-label">Семестр</label>
        <input type="text" class="form-control" id="sem" name="sem">
    </div>
    <div class="form-group">
        <label for="number" class="col-sm-2 control-label">Количество групп</label>
        <input type="text" class="form-control" id="number" name="number">
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info">Добавить группу</button>
        </div>
    </div>
</form>
{% endblock %}