{% extends "base.html" %}

{% block main %}

<h4>Группы</h4>

<table class="table table-hover">
    <tr>
        <th>№</th>
        <th>Кафедра</th>
        <th>Семестр</th>
        <th>Номер</th>
    </tr>
    {% for professor in professors %}
    <tr> 
        <td>{{forloop.counter}}</td>
        <td>{{group.caf}}</td>
        <td>{{group.sem}}</td>
        <td>{{group.number}}</td>
    </tr>
    {% endfor %}
</table>
{{ status }}
<form class="form-horizontal" action="/group" method="post">
    <div class="form-group">
        <label for="caf" class="col-sm-2 control-label">Кафедра</label>
        <input type="text" class="form-control" id="caf" name="caf">
    </div>
    <div class="form-group">
        <label for="sem" class="col-sm-2 control-label">Семестр</label>
        <input type="text" class="form-control" id="sem" name="sem">
    </div>
    <div class="form-group">
        <label for="number" class="col-sm-2 control-label">Номер Группы</label>
        <input type="text" class="form-control" id="number" name="number">
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info">Добавить группу</button>
        </div>
    </div>
</form>
{% endblock %}
