{% extends "base.html" %}

{% block main %}

<h4>Нагрузочная единица</h4>

<table class="table table-hover">
    <tr>
        <th>№</th>
        <th>Предмет</th>
        <th>Форма сдачи</th>
        <th>Кафедра</th>
        <th>Семестр</th>
        <th>Тип Нагрузки</th>
        <th>Часы</th>
        <th></th>
    </tr>
    {% for loadUnit in loadUnits %}
    <tr> 
        <td>{{forloop.counter}}</td>
        <td>{{loadUnit.subject.name}}</td>
        <td>{{loadUnit.formPass.name}}</td>
        <td>{{loadUnit.caf.name}}</td>
        <td>{{loadUnit.sem}}</td>
        <td>{{loadUnit.typeLoad.name}}</td>
        <td>{{loadUnit.hours}}</td>
        <td>
            <a href="?remove={{loadUnit.id}}"><i class="icon-trash"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>
{{ status }}
<form class="form-horizontal" action="" method="post">

    <div class="form-group">
        <label for="subject" class="col-sm-2 control-label">Предмет</label>
        <select class="span2" name="subject" required>
            <option value="" selected>Выбрать</option>
            {% for subject in subjects %}
                <option value="{{ subject.name }}">{{ subject.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="formPass" class="col-sm-2 control-label">Форма сдачи</label>
        <select class="span2" name="formPass" required>
            <option value="" selected>Выбрать</option>
            {% for formPass in formPasss %}
                <option value="{{ formPass.name }}">{{ formPass.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="caf" class="col-sm-2 control-label">Кафедра</label>
        <select class="span2" name="caf" required>
            <option value="" selected>Выбрать</option>
            {% for caf in cafs %}
                <option value="{{ caf.name }}">{{ caf.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="sem" class="col-sm-2 control-label">Семестр</label>
        <select class="span2" name="sem" required>
            <option value="" selected>Выбрать</option>
            {% for sem in semesters %}
                <option value="{{ sem.sem }}_{{ sem.grade }}" data-caf="{{ sem.caf }}" class="select_hidden">{{ sem.sem }}{{group.caf.name}}{{group.sem}}{{group.number}}{% if sem.grade == "b"%}Б{% elif sem.grade == "m"%}М{% endif %}     ({{ sem.count }})</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label muted">Тип нагрузки</label>
        <label class="col-sm-2 pad5 form-control muted" >Количество часов</label>
    </div>

    {% for typeLoad in typeLoads %}
        <div class="form-group">
            <label for="load{{ typeLoad.id }}" class="col-sm-2 control-label">{{ typeLoad.name }}</label>
            <input type="number" class="form-control input_short" id="load{{ typeLoad.id }}" 
                name="load{{ typeLoad.id }}" value="0">
        </div>

    {% endfor %}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info">Добавить нагрузочную единицу</button>
        </div>
    </div>
</form>

<script>
    $("select[name=caf]").change(function() {
        $("select[name=sem] option[data-caf!="+$(this).val()+"]").addClass("select_hidden");
        $("select[name=sem] option[data-caf="+$(this).val()+"]").removeClass();
    })
</script>

{% endblock %}