{% extends "base.html" %}

{% block main %}

<h4>Преподаватели</h4>

<table class="table table-hover">
    <tr>
        <th>№</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчетство</th>
        <th>Звание</th>
        <th>Должность</th>
        <th></th>
    </tr>
    {% for professor in professors %}
    <tr> 
        <td>{{forloop.counter}}</td>
        <td>{{professor.last_name}}</td>
        <td>{{professor.first_name}}</td>
        <td>{{professor.middle_name}}</td>
        <td>{{professor.degree.name}}</td>
        <td>{{professor.post.name}}</td>
        <td>
            <a href="/prof?remove={{professor.id}}"><i class="icon-trash"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>

<!-- Button for FORM CREATE -->
<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Добавить преподавателя</a>
<!-- FORM CREATE -->
<div id="myModal" class="modal hide fade" tabindex="-1" 
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Добавление преподавателя</h3>
    </div>

    <form class="form-horizontal nomargin" action="/prof" method="post">
        <div class="modal-body">
            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label">Фамилия</label>
                <input type="text" class="form-control" id="lastName" name="lastName" required>
            </div>
            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label">Имя</label>
                <input type="text" class="form-control" id="firstName" name="firstName" required>
            </div>
            <div class="form-group">
                <label for="middleName" class="col-sm-2 control-label">Отчетство</label>
                <input type="text" class="form-control" id="middleName" name="middleName" required>
            </div>
            <div class="form-group">
                <label for="middleName" class="col-sm-2 control-label">Звание</label>
                <select class="span2" name="degree" required>
                    <option value="" selected>Выбрать</option>
                    {% for degree in degrees %}
                        <option value="{{ degree.name }}">{{ degree.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="middleName" class="col-sm-2 control-label">Должность</label>
                <select class="span2" name="post">
                    <option value="" selected>Выбрать</option>
                    {% for post in posts %}
                        <option value="{{ post.name }}">{{ post.name }}</option>
                    {% endfor %}
                </select>
            </div>
            
        </div>
    
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
            <button type="submit" class="btn btn-primary">Добавить  преподавателя</button>
        </div>
   
    </form>
</div>
{% endblock %}